@import './variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family-main;
    background-color: $white;
    font-size: $font-size-sm;
}

#__nuxt {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inner-container {
    max-width: 800px;
    margin: 0 auto;
    padding: $spacing-lg $spacing-md;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-secondary;
    font-weight: 500;
}

h1 {
    font-size: $font-size-xxl;
    margin: $spacing-md 0;
}

h2 {
    font-size: $font-size-xl;
    margin: $spacing-md 0;
}

h3 {
    font-size: $font-size-lg;
    margin: 0 0 $spacing-sm 0;
}

h4 {
    font-size: $font-size-md;
    margin: $spacing-md 0;
}

h5 {
    font-size: $font-size-sm;
    margin: $spacing-md 0;
}

p {
    margin: 0 0 $spacing-sm 0;
}

p.details {
    color: rgba($black, 0.5);
}

pre {
    background-color: rgba($black, 0.1);
    padding: $spacing-sm;
    margin: 0 0 $spacing-md 0;
    overflow-x: auto;
    max-height: 400px;
    font-size: $font-size-xs;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 $spacing-md 0;
}

th {
    text-align: left;
    padding: $spacing-xs;
    border-bottom: 1px solid rgba($black, 0.1);
}

td {
    padding: $spacing-xs;
    border-bottom: 1px solid rgba($black, 0.1);
}

tr:last-child td {
    border-bottom: none;
}

/* Forms */

label {
    display: block;
    margin: $spacing-md 0 $spacing-xs;
    color: $black;
    font-weight: 600;
}

input,
textarea,
select {
    border-radius: 5px;
    border: 1px solid rgba($blue, 0.3);
    padding: $spacing-xs $spacing-sm;
    background-color: $white;
    color: $black;
    border-radius: $br-md;
    font-size: $font-size-sm;
    font-weight: 400;
    transition: all 0.2s ease;
    font-family: $font-family-main;
    width:  100%;
}

    select {
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background-image: url('/icons/down-arrow.svg');
        background-repeat: no-repeat;
        background-position: right .5em top 50%, 0 0;
    }

input:focus,
textarea:focus,
select:focus,
input:hover,
textarea:hover,
select:hover {
    border: 1px solid rgba($purple, 0.9);
    outline: none;
}

input[disabled] {
    color: rgba($black, 0.65);
    background-color: rgba($orange, 0.05);
    cursor: not-allowed;
}

textarea {
    width: 100%;
    margin: 0 0 $spacing-sm 0;
}

.form-group {
    margin: 0 0 $spacing-sm 0;
    position: relative;

    div {
        position: relative;
    }

    div:first-child label {
        margin: 0 0 $spacing-xs 0;
    }
}

.form-block {
    margin: 0 0 $spacing-md 0;
    padding: 0 0 $spacing-md 0;
    border-bottom: 1px solid rgba($black, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &:last-of-type {
        border-bottom: none;
    }

    .form-details {
        width: 33%;
    }
    
    .form-content {
        width: 66%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        button {
            margin: 0 0 0 auto;
        }
    }
}

.form-group-footer {
    padding: $spacing-md 0;
}

.form-error {
    color: $red;
    background-color: rgba($red, 0.1);
    padding: $spacing-xxs;
    border-radius: $br-md;
    font-size: $font-size-xs;
    margin: -$spacing-xs 0;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}

/* Button */

button,
.button {
    color: $blue;
    border: 1px solid rgba($purple, 0.1);
    background-color: rgba($purple, 0);
    text-align: center;
    text-decoration: none;
    border-radius: $br-md;
    padding: $spacing-xs $spacing-sm;
    cursor: pointer;
    text-align: center;
    font-size: $font-size-sm;
    font-weight: 400;
    transition: all 0.2s ease;
    font-family: $font-family-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $spacing-sm;
    align-items: center;

    &:hover {
        border: 1px solid rgba($purple, 1);
    }
}

button.primary,
.button.primary {
    border: 1px solid rgba($purple, 0.9);
    background-color: rgba($purple, 0.85);
    color: $white;
}

button.dark,
.button.dark {
    border: 1px solid rgba($purple-light, 0.7);
    background-color:rgba($purple-light, 0.7);
    text-decoration: none;
    color: $white;

    &:hover {
        border: 1px solid rgba($white, 0.2);
        background-color:rgba($purple-light, 1);
    }
}

/* Widgets */

.card {
    width: 100%;
    display: block;
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    padding: var(--custom-spacing);
}

.avatar {
    border-radius: var(--custom-border-radius);
    overflow: hidden;
    max-width: 100%;
}

.avatar.image {
    object-fit: cover;
}

.avatar.no-image {
    background-color: #333;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}


.avatarPlaceholder {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
