@use 'assets/variables' as *;

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family-main;
    font-size: $font-size-xs;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;    
    -moz-osx-font-smoothing: grayscale;
}

#__nuxt {
    height: 100%;

    // For screenshots
    // height: calc(100% - 20px);
    // margin: 10px;
}

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: rgba($brand, 0.025);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inner-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    color: $black;

    @media (max-width: 1000px) {
        margin: 0;
    }
}

.max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.xl {
        max-width: 1600px;
    }

    &.lg {
        max-width: 1200px;
    }

    &.md {
        max-width: 800px;
    }

    &.sm {
        max-width: 600px;
    }
}

.max-height {
    height: 100%;
}

.scrollable {
    overflow-y: auto;
    max-height: 100%;

    &.has-wizard {
        max-height: calc(100% - 85px);
    }
}

/* Notifications */

.notification {
    padding: $spacing-xxs calc($spacing-xs + $spacing-xxs);
    font-size: $font-size-xs;
    border-radius: $br-lg;
    gap: $spacing-xs;
    color: $brand;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

    &.vertical {
      flex-direction: column;
      font-weight: bold;
      gap: $spacing-xxxs;
      text-align: center;
    }

    .iconify {
        margin: 0;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: $spacing-xxs;

        h4, p {
            margin: 0;
        }

        p {
            opacity: 0.75;   
        }
    }

    &.info {
        background: rgba($brand, 0.1);
        color: rgba($black, 0.5);
    }

    &.warning {
        background: rgba($orange, 0.1);
        color: $orange-dark;
    }

    &.success {
        background: rgba($mint, 0.1);
        color: $mint-dark;
    }

    &.error {
        background: rgba($red, 0.1);
        color: $red;
    }

}

.empty {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    justify-content: center;
    align-items: center;
    padding: $spacing-md 0;

    * {
        margin: 0;
    }
}

/* Popups */

.popup {
    position: absolute;
    top: calc(100% + 2px);
    z-index: 1000;
    display: none;
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, 0.1);
    padding: $spacing-sm;
    border-radius: $br-md;
    border: 1px solid rgba($black, 0.2);

    &.clean {
        box-shadow: none;
        padding: 0;
        border: none;
    }

    &.list {
        width: 240px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2px;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: $spacing-xs;
            padding: $spacing-xs $spacing-xs;
            border-radius: $br-md;
            text-transform: capitalize;
            transition: background-color 0.18s ease;
            color: $black;
            font-family: $font-family-main;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                background-color: rgba($brand, 0.05);
                color: $brand;
            }

            &.active {
                background-color: rgba($brand, 1);
                color: $white;
            }
        }
    }

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-main;
    font-weight: 500;
}

h1 {
    font-size: $font-size-xl;
    margin: 0 0 $spacing-md 0;
}

h2 {
    font-size: $font-size-lg;
    margin: $spacing-md 0;
}

h3 {
    font-size: $font-size-md;
    margin: 0 0 $spacing-sm 0;
}

h4 {
    font-size: $font-size-sm;
    margin: $spacing-md 0;
}

h5 {
    font-size: $font-size-sm;
    margin: $spacing-md 0;
}

p {
    margin: 0 0 $spacing-sm 0;
    line-height: 1.5;
}

p.center {
    text-align: center;
}

p.details {
    color: rgba($black, 0.5) !important;
    font-size: $font-size-xs;
}

p.or-select {
    margin: $spacing-md 0;
    color: rgba($black, 0.5);
    font-size: $font-size-xxs;
    width: 100%;
    text-align: center;
    position: relative;

    &:before {
        width: 35%;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        border-top: 1px solid rgba($black, 0.1);
    }

    &:after {
        width: 35%;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        border-top: 1px solid rgba($black, 0.1);
    }
}

pre {
    background-color: rgba($brand, .05);
    color: $black;
    border-radius: $br-md;
    padding: $spacing-sm;
    margin: 0 0 $spacing-md 0;
    overflow-x: auto;
    max-height: 400px;
    font-size: $font-size-xs;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 $spacing-md 0;
}

th {
    text-align: left;
    padding: $spacing-xs;
    border-bottom: 1px solid rgba($black, 0.1);
}

td {
    padding: $spacing-xs;
    border-bottom: 1px solid rgba($black, 0.1);
}

tr:last-child td {
    border-bottom: none;
}

/* Forms */

label {
    display: block;
    font-size: $font-size-xs;
    color: rgba($black,0.5);
    font-weight: 400;
    background-color: $white;
    padding: calc($spacing-xxs + 2px) $spacing-xs 0 $spacing-xs;
}

input,
textarea,
select {
    border: 1px solid transparent;
    padding: 0 $spacing-xs calc($spacing-xxs + 2px) $spacing-xs;
    background-color: $white;
    color: $black;
    border-radius: $br-md;
    font-size: $font-size-xs;
    font-weight: 400;
    transition: all 0.2s ease;
    font-family: $font-family-main;
    width:  100%;
}

    select {
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background-image: url('/icons/down-arrow.svg');
        background-repeat: no-repeat;
        background-position: right .5em top 50%, 0 0;
    }

input:focus,
textarea:focus,
select:focus,
input:hover,
textarea:hover,
select:hover {
    outline: none;
}

input[disabled] {
    color: rgba($black, 0.65);
    background-color: rgba($orange, 0.05);
    cursor: not-allowed;
}

textarea {
    width: 100%;
    margin: 0 0 $spacing-sm 0;
}

.search-bar {
    width: 100%;
    padding: $spacing-sm $spacing-md;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-sm;
    position: sticky;
    top: 0;
    background: rgba($white, .65);
    backdrop-filter: blur(10px);
    border-bottom: $border;
    z-index: 10;

    &.right {
        justify-content: flex-end;
    }

    input {
        color: $black;
        background: rgba($brand, .025);
        border-radius: $br-xl;
        border: $border;
        padding: $spacing-xxs $spacing-sm;
        font-size: $font-size-xs;
        outline: 1px solid rgba($brand, 0);
        outline-offset: 0px;
        height: 100%;
        width: 100%;
        max-width: 300px;

        &:active,
        &:focus,
        &:hover,
        &:focus-within {
            border: 1px solid rgba($brand, 1);
            outline: 4px solid rgba($brand, 0.1);
            background: rgba($white, 1);
        }
    }

    .list-filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        gap: $spacing-sm;
    }

    .list-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        border: $border;
        border-radius: $br-md;
        background: rgba($white, .35);
        transition: all 0.2s ease;
        overflow: hidden;
        min-width: auto;

        &:hover {
            border: 1px solid rgba($brand, .3);
            background: rgba($white, 1);
        }

        button {
            box-shadow: none;
            border-color: transparent;
            border-radius: 0;
            background-color: transparent;
            height: 100%;
            min-width: auto;
            outline: 0;
            font-size: $font-size-xs;

            span {
                min-width: 20px;
                width: 20px;
            }

            &:hover {
                transform: none;
            }
        }

        .active {
            background: rgba($brand, 1);
            color: $white;
        }
    }
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .inner-container {

        &:nth-child(1) {
            padding-right: $spacing-sm;
        }

        &:nth-child(2) {
            padding-left: $spacing-sm;
        }
    }
}

.form-group {
    margin: 0 0 $spacing-sm 0;
    position: relative;
    width: 100%;

    div {
        position: relative;
    }
}

.form-required {
    color: $red;
    font-size: $font-size-xxs;
    padding: $spacing-xxxs $spacing-xxs;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 14px;
    right: $spacing-sm;
    text-transform: uppercase;
}

.form-input {
    border: $border;
    border-radius: $br-md;
    margin-bottom: $spacing-sm;
    transition: all 0.2s ease;
    width: 100%;
    height: fit-content;
    outline: 1px solid rgba($brand, 0);
    position: relative;
    overflow: hidden;
    width: 100%;

    .button {
        position: absolute;
        right: $spacing-sm;
        top: $spacing-sm;
        bottom: $spacing-sm;
        background-color: rgba($brand, 0.1);
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: rgba($brand, 0.2);
        }
    }

    .form-hint {
        display: flex;
        flex-direction: row;
        gap: $spacing-xxs;
        align-items: center;
        justify-content: center;
        padding: 0 $spacing-sm;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        color: rgba($brand, 1);
        font-weight: bold;
        font-size: $font-size-xs;
    }

    &:focus,
    &:hover,
    &:focus-within,
    &:active {
        border: 1px solid rgba($brand, 0.9);
        outline: 4px solid rgba($brand, 0.3);
    }
}

.form-input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;
    width: 100%;
}

.form-toggle {
    border: $border;
    display: flex;
    flex-direction: row;
    padding: $spacing-xxs;
    border-radius: $br-lg;
    
    .form-toggle-item {
        padding: $spacing-xs;
        border-radius: $br-md;
        cursor: pointer;

        &.active {
            background: rgba($brand, 0.1);
            color: $brand;
        }
    }
}

.form-block {
    padding: 0 0 $spacing-md 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: $spacing-lg;
    height: 100%;
    position: relative;

    .no-height {
        height: auto;
    }

    &:last-of-type {
        border-bottom: none;
    }

    .form-details {
        width: 33%;

        p {
            display: flex;
            flex-direction: row;
            gap: $spacing-xxs;
            align-items: center;
        }
 
        h4 {
            margin: 0 0 $spacing-xxs 0;
        }
    }
    
    .form-content {
        width: 66%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .vc-container {
            align-self: flex-end;
            border: none;
        }
    }

    .form-content-full {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h4 {
            margin: 0 0 $spacing-xs 0;
        }
    }
}

.form-group-footer {
    padding: $spacing-md 0;
}

.form-errors {
    margin: 0 0 $spacing-md 0;
    padding: $spacing-sm;
    border: 1px solid rgba($red, 0.1);
    border-radius: $br-md;
    background-color: rgba($red, 0.05);
    color: $red;
    transition: all 0.2s ease;
}

.form-error {
    color: $white;
    background-color: rgba($red, 1);
    padding: $spacing-xxs $spacing-xs;
    border-radius: $br-sm;
    font-size: $font-size-xs;
    margin: -$spacing-xs 0;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}

/* Button */

button,
.button {
    color: $black;
    background: rgba($black, 0.05);
    border-radius: $br-lg;
    text-align: center;
    text-decoration: none;
    padding: $spacing-xxs calc($spacing-xs + $spacing-xxs);
    cursor: pointer;
    font-size: $font-size-xs;
    transition: all 0.2s ease;
    font-family: $font-family-main;
    display: flex;
    justify-content: center;
    gap: $spacing-xs;
    align-items: center;
    text-transform: capitalize;
    min-height: 24px;
    border: none;
    text-wrap: nowrap;

    @media (max-width: 960px) {
        font-size: $font-size-xxs;
    }

    &:hover {
        background: rgba($black, 0.075);
        transform: scale(1.035);
    }

    &:active {
        background: rgba($black, 0.1);
    }

    &:disabled,
    &.disabled {
        cursor: not-allowed;
        background: rgba($gray, 0.1);
        color: rgba($black, 0.25);
        outline: none;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $spacing-xxs;
    }
}

button.large,
.button.large {
    padding: $spacing-sm $spacing-md;
    max-height: 44px;
}

button.small,
.button.small {
    padding: $spacing-xxxs $spacing-xs;
    font-size: $font-size-xxs;
}

button.wide,
.button.wide {
    padding: $spacing-xs;
    width: 100%;
}

button.primary,
.button.primary {
    // background: linear-gradient(to top, $brand 0%, $brand-light 100%);
    background: $brand;
    color: $white;

    &:hover {
        background: rgba($brand, 0.9);
    }

    &:disabled {
        cursor: not-allowed;
        background: rgba($white, 0.1);
        border: 1px solid rgba($brand, 0.1);
        color: rgba($black, 0.5);
    }
}

button.clear,
.button.clear {
    background-color: rgba($brand, 0);
    padding: $spacing-xxs $spacing-xxs;

    &:hover {
        background-color: rgba($brand, 0);
    }
}

button.white,
.button.white {
    background-color: rgba($white, 0.1);
    color: $white;

    &:hover {
        background-color: rgba($white, 0.2);
    }
}

button.toolbar,
.button.toolbar {
    background-color: rgba($brand, 0);
    color: $black;

    &:hover {
        background-color: rgba($brand, 0);
        color: $brand;
    }
}

button.green,
.button.green {
    background-color: rgba($mint, 0.9);
    color: $white;

    &:hover {
        background-color: rgba($mint, 1);
    }
}

button.red,
.button.red {
    background-color: rgba($red, 0.05);
    color: $red;

    &:hover {
        background-color: rgba($red, 0.1);
    }
}

button.vertical,
.button.vertical {
    display: flex;
    flex-direction: column;
    gap: 0;

    small {
        font-size: $font-size-xxs;
        color: rgba($black, 0.5);
    }
}

/* Widgets */

.card {
    width: 100%;
    display: block;
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    padding: var(--custom-spacing);
}

.avatar {
    border-radius: var(--custom-border-radius);
    overflow: hidden;
    max-width: 100%;
}

.avatar.image {
    object-fit: cover;
}

.avatar.no-image {
    background-color: #333;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}


.avatarPlaceholder {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Editable Object Title */

.object-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-md;
    margin: $spacing-sm 0;

    &.no-border {
        border-bottom: none;
    }
  
    .object-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  
      .object-title-input {
        font-size: $font-size-md;
        font-weight: 500;
        background-color: transparent;
        width: 100%;
        padding: $spacing-xxs $spacing-xxs 0;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 600px) {
            font-size: $font-size-md;
        }
  
        &:focus,
        &:active {
            color: $brand;
        }
      }

      .object-description-input {
        font-size: $font-size-xs;
        font-weight: 500;
        background-color: transparent;
        width: 100%;
        padding: 0 $spacing-xxs $spacing-xxs $spacing-xxs;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 600px) {
            font-size: $font-size-xs;
        }
  
        &:focus,
        &:active {
          color: $brand;
          opacity: 1;
        }
      }
  
      span {
        position: absolute;
        right: $spacing-sm;
        top: 0;
        line-height: 54px;
        opacity: 0.25;
        font-size: $font-size-xs;
        pointer-events: none;
      }
  
    }
  }

  /* TipTap */

  .ProseMirror {
    padding: $spacing-sm;

    @media (max-width: 600px) {
        padding: $spacing-sm;
    }
  }

  .ProseMirror-focused {
    outline: none;
  }

  .tiptap {
    height: 100%;
    min-height: 100px;
  }

  // Gated access
  .gate {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgba($black, 0.35);
    font-size: 4rem;

    p {
      margin: 0;
      opacity: 0.35;
    }
  }

  /* VCalendar */

  .vc-popover-content-wrapper {
    .vc-nav-arrow,
    .vc-nav-title {
        background: transparent;
    }

    .vc-nav-items {
        .vc-nav-item {
            background: transparent;

            &.is-active {
                background: $brand;
            }
        }
    }
  }

  .vc-container {
    button {
        background: transparent;
    }

    .vc-header {
        padding-bottom: $spacing-sm;
        height: 48px;
        border-bottom: $border;

        .vc-title {
            font-size: $font-size-md;
            font-weight: normal;
        }
    }

    .vc-weekdays {
        background: rgba($brand, 0.025);
        height: fit-content;
    }

    .vc-weekday {
        color: rgba($black, 0.25);
        padding: $spacing-xs 0;
    }

    .vc-weeks {
        padding: 0;
    }

    .vc-week {
        border-bottom: $border;

        &:last-child {
            border-bottom: none;
        }
    }

    .vc-day {
        padding: $spacing-md;

        .vc-dots {
            bottom: 1rem;
            position: relative;
        }
    }
  }


  .dropdown-content {

    .vc-header {

        .vc-title {
            font-size: $font-size-sm;
            font-weight: normal;
        }
    }

    .vc-day {
        padding: initial;
    }

    .vc-week {
        border-bottom: none;
    }
  }

  .calendar-view {
    .vc-container {
        min-width: 100%;

        &.open {
            min-width: calc(100% - 500px);
        }
    }

    /* Not dropdown content */
    &.weekly {

        .vc-week,
        .vc-weeks,
        .vc-pane,
        .vc-pane-layout,
        .vc-pane-container,
        .vc-container {
            height: 100%;
        }

        .vc-day {
            padding: $spacing-xxl $spacing-md;
            border-right: $border;
            height: 100%;

            .vc-dots {
                bottom: 140px;
            }

            &:last-child {
                border-right: none;
            }
        }

        .dropdown-content {

            .vc-week,
            .vc-weeks,
            .vc-pane,
            .vc-pane-layout,
            .vc-pane-container,
            .vc-container {
                height: auto;
            }

            .vc-day {
                padding: 4px;
                border-right: none;
                height: auto;

                .vc-dots {
                    bottom: auto;
                }
            }
        }
    }
  }