@import './variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family-main;
    background-color: $white;
    font-size: $font-size-sm;
}

#__nuxt {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Forms */

label {
    display: block;
    margin: $spacing-sm 0 $spacing-xs;
    color: $black;
    font-weight: 600;
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid rgba($blue, 0.3);
    padding: $spacing-xxs $spacing-xs;
    background-color: var(--custom-bg-color);
    color: var(--custom-color);
    border-radius: $br-sm;
    font-size: $font-size-sm;
    font-weight: 400;
    transition: all 0.2s ease;
    font-family: $font-family-main;
}

input:focus,
textarea:focus {
    border: 1px solid rgba($blue, 0.9);
    background-color: rgba($blue, 0.1);
    outline: none;
}

input[disabled] {
    color: rgba($black, 0.65);
    background-color: rgba($black, 0.05);
    cursor: not-allowed;
}

textarea {
    width: 100%;
    margin: 0 0 $spacing-sm 0;
}


/* Button */

button,
.button {
    color: $blue;
    border: 1px solid rgba($purple, 0.3);
    background-color: rgba($purple, 0.1);
    display: inline-block;
    text-align: center;
    border-radius: $br-sm;
    padding: $spacing-xxs $spacing-xs;
    cursor: pointer;
    text-align: center;
    font-size: $font-size-xs;
    font-weight: 400;
    transition: all 0.2s ease;
    font-family: $font-family-main;
}

button.primary,
.button.primary {
    border: 1px solid rgba($purple, 0.9);
    background-color: rgba($purple, 0.85);
    color: $white;
}

button.dark,
.button.dark {
    border: 1px solid rgba($white, 0.2);
    background-color: transparent;
    text-decoration: none;
    color: $white;

    &:hover {
        border: 1px solid rgba($white, 0.8);
    }
}

/* Widgets */

.card {
    width: 100%;
    display: block;
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    padding: var(--custom-spacing);
}

.avatar {
    border-radius: var(--custom-border-radius);
    overflow: hidden;
    max-width: 100%;
}

.avatar.image {
    object-fit: cover;
}

.avatar.no-image {
    background-color: #333;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}


.avatarPlaceholder {
    border: var(--custom-border);
    border-radius: var(--custom-border-radius);
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
